<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Matŕicula:</b>
  <%= @student.registry %>
</p>

<p>
  <b>Data de nascimento:</b>
  <%= @student.birthdate.try(:strftime, "%d/%m/%Y") %>
</p>

<div class="form-actions">
	<%= link_to 'Editar', edit_student_path(@student) , :class => 'btn' %>
	<%= link_to 'Voltar', students_path, :class => 'btn' %>
</div>
